{% extends "web/base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">Никнейм:</div>
            <div class="col-11">{{ customuser.username }}</div>
        </div>
        <div class="row">
            <div class="col-1">Скин:</div>
            <div class="col-11"><img src="{{ customuser.skin.url }}" alt="скин"></div>
        </div>
    </div><hr>
    <a href="{% url 'user_update' customuser.pk %}" class="navbar-brand">Изменить</a>
{% endblock %}