{% extends "web/base.html" %}

{% block pre_content %}
    <h1>Пользователь '{{ form.instance.username }}'</h1>
    <hr>
{% endblock %}
{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
    {% endif %}

    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <table>
                <tr>
                    <td>{{ form.name.label_tag }}</td>
                    <td>{{ form.name }}</td>
                </tr>
                <tr>
                    <td>{{ form.dob.label_tag }}</td>
                    <td>{{ form.dob }}</td>
                </tr>
                <tr>
                    <td>{{ form.vk_url.label_tag }}</td>
                    <td>{{ form.vk_url }}</td>
                </tr>
                <tr>
                    <td>{{ form.skin.label_tag }}</td>
                    <td>{{ form.skin }}</td>
                </tr>
            </table>
        </div>

        <input class="btn btn-success" type="submit" value="Изменить"/>
    </form>
{% endblock %}